force-app/main/default/flows/Get_Time_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Time</name>
        <label>Get Time</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>FlowAction_GetTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Over_Result</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_Accounts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeFields</name>
            <value>
                <stringValue>Working_Hours_Start__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowAction_GetTime</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignDateTime</name>
        <label>Assign DateTime</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>extractedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Result</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Time Action {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Get Time Action</label>
    <loops>
        <name>Loop_Over_Result</name>
        <label>Loop Over Result</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Time</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignDateTime</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_End_Time</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_End_Time</name>
        <label>Update End Time</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Accounts.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Working_Hours_End__c</field>
            <value>
                <elementReference>extractedTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>resultMessage</name>
            <fieldText>&lt;p&gt;Now the selected account is expected to have the same Time value in the Working Hours fields&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectAccount</name>
        <label>Select Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <fields>
            <name>AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>extractedTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
